.invoice-form-wrapper {
	display: flex;
	margin: auto;
	height: 100%;
}
.invoice-form {
	display: block;
	color: var(--primary-color);
	background-color: var(--primary-color);
	border-radius: 10px;
	margin: auto;
	padding: 1.5%;
	min-width: 300px;
}
