.fee-dialog {
    margin: auto;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: var(--primary-color);
}
.fee-dialog form {
    display: flex;
    flex-direction: row;
}

.project-dialog {
    margin: auto;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: var(--primary-color);
}
.project-dialog .fee-form {
    display: flex;
    flex-direction: row;
}
.project-dialog-form {
    display: flex;
    flex-direction: row;
}
.fee-dialog-form {
    display: flex;
    flex-direction: row;
}

.project-space {
	display: block;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border-radius: 10px 10px;
    margin: 2.5%;
    padding: 2.5%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
.project-space .item, .project-space table {
    margin: .5% 1%;
    padding: .5% 1%;
    border-bottom: 1px solid var(--primary-color);
}
.project-space table th {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 2px 10px;
}
.project-space table td {
    background-color: var(--muted-primary-color);
    padding: 4px 10px;
}
.project-space-footer {
    border-top: 1px solid var(--primary-color);
    display: flex;
    justify-content: end;
}
.project-controls {
    display: flex;
    justify-content: end;
}
