.invoice-list-content {
	display: grid;
	grid-template-columns: 1fr;
	padding: 1%;
}
.invoice-filter-form-wrapper {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	margin: 10px auto 10px 0;
	padding: .25rem;
	border-radius: 10px;
}
.invoice-filter-form-wrapper h2 {
	font-size: 1rem;
	padding: .25rem .5rem;
	text-align: center;
}
.invoice-filter-form {
	display: flex;
	flex-direction: row;
	padding: .25rem;
	border-radius: 10px;
}
.invoice-filter-form button {
	font-size: .8rem;
	margin-bottom: 0;
	padding: .2rem;
	border: 0;
	background-color: var(--light-color);
	border-radius: 5px;
	transition: all .25s ease-in-out;
}
.invoice-filter-form button:hover {
	color: var(--secondary-color);
	background-color: var(--primary-color);
}

.invoice-list {
	margin: auto;
	padding: 2.5%;
	background-color: var(--secondary-color);
	border-radius: 10px;
}
.invoice-list table {
	padding: 1%;
	margin: 2%;
	border-collapse: collapse;
	border-bottom: 2px solid var(--primary-color);
}
.invoice-list thead {
	padding: 1%;
	margin: 2%;
}
.invoice-list thead tr th {
	color: var(--secondary-color);
	background-color: var(--primary-color);
	margin: .5rem;
	padding: .5rem;
}
.invoice-list tbody tr td {
	font-size: .75rem;
	padding: .1rem .5rem;
	border-bottom: 1px solid var(--primary-color);
}
.invoice-list tbody tr:nth-child(odd) {
	background-color: var(--table-first-color);
}
.invoice-list tbody tr:nth-child(even) {
	background-color: var(--table-second-color);
}
.invoice-list table button, .invoice-list table a {
	padding: 0;
	margin: 0;
	background-color: inherit;
	color: var(--primary-color);
	width: min-content;
	border: 0;
	padding: .1rem;
	border-radius: 5px;
	position: relative;
}
.invoice-list table button::after {
	content: attr(helptext);
	display: block;
	position: absolute;
	top: 22px; left: 0;
	opacity: 0;
	width: 150px;
	font-size: 13px;
	font-weight: 700;
	line-height: 1.5em;
	padding: 0.5em 0.8em;
	background: rgba(0,0,0,0.8);
	color: #fff;
	pointer-events: none; /* This prevents the box from apearing when hovered. */
	transition: opacity 500ms, top 500ms;
}
.invoice-list table button::before {
	content: '';
	display: block;
	position: absolute;
	top: 12px; left: 20px;
	opacity: 0;
	width: 0; height: 0;
	border: solid transparent 5px;
	border-bottom-color: rgba(0,0,0,0.8);
	transition: opacity 500ms, top 500ms;
}
.invoice-list table button:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
.invoice-list table button:hover::after,
.invoice-list table button:hover::before {opacity: 1;}
.invoice-list table button:hover::after {top: 30px;}
.invoice-list table button:hover::before {top: 20px;}
.invoice-list table button:hover, .invoice-list table a:hover {
	border: 0;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}
