{% extends 'base.html' %}
{% load i18n %}
    {% block title %}
    <title>LAMOME Business | {% translate 'Home' %}</title>
    {% endblock %}
    {% block aside %}
    {% if user.is_authenticated %}
    <aside>
        <div class="nav-box column">
            <ul>
                <li><a href={% url 'home:index' %}>{% translate 'Home' %}</a></li>
                {% if user.is_staff %}
                {% if user.is_superuser %}
                <li><a href={% url 'admin:Invoicer_invoicer_changelist' %}>{% translate 'INVOICERS' %}</a></li>
                {% endif %}
                <li><a href={% url 'admin:Invoicee_invoicee_changelist' %}>{% translate 'INVOICEES' %}</a></li>
                <li><a href={% url 'admin:Invoice_invoice_changelist' %}>{% translate 'INVOICES' %}</a></li>
                {% endif %}
            </ul>
        </div>
    </aside>
    {% endif %}
    {% endblock %}
    {% block content %}
    <h1>Home</h1>
    {% endblock %}
