{% load i18n %}
<h1>{% translate 'InvoiceListView' %}</h1>
<div class="invoice-list-content">
    <div class="invoice-filter-form-wrapper">
        <h2>{% translate "HomeCONTROLSText" %}</h2>
        <form 
            hx-push-url="true" 
            hx-get="{% if invoicee %}{% url 'Invoicee:invoicee' invoicee.id %}{% else %}{% url 'Invoice:index' %}{% endif %}" 
            hx-swap="innerHTML" 
            hx-target="main" 
            class="invoice-filter-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit">{% translate "ApplyFilter" %}</button>
        </form>
    </div>
    {% if invoice_list %}
    <div class="invoice-list">
        <table>
            <thead>
                <tr>
                {% if managerHasMultipleInvoicers %}
                <th style="width: 300px">{% translate 'INVOICER' %}</th>
                {% endif %}
                {% if not invoicee %}
                <th style="width: 300px">{% translate 'INVOICEE' %}</th>
                {% endif %}
                <th>{% translate 'InvoiceNumber' %}</th>
                <th>{% translate 'TotalAfterVAT' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoice_list %}
                {% include './Invoice-list-item.html' with invoicee=invoicee invoice=invoice %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr></tr>
            </tfoot>
        </table>
        <div class="invoice-list-footer">
            <button 
                class="extensive-button"
                type="button"
                hx-get="{% url 'Invoice:add-invoice' %}"
                hx-push-url="true"
                hx-swap="innerHTML"
                hx-target="main">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="24" 
                    height="24" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    stroke="currentColor" 
                    stroke-width="2" 
                    stroke-linecap="round" 
                    stroke-linejoin="round" 
                    class="symbol invoice-plus">
                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                    <polyline points="14 2 14 8 20 8"></polyline>
                    <line x1="12" y1="18" x2="12" y2="12"></line><line x1="9" y1="15" x2="15" y2="15"></line>
                </svg>
                <span class="text">{% translate 'AddNewInvoice' %}</span>
        </div>
    </div>
    {% else %}
    <div class="message">{% translate 'NoInvoiceAvailableForChosenFilterOrUserHasNoInvoicers' %}</div>
    {% endif %}
</div>
