{% load i18n %}
<h1>
    {% translate 'InvoiceListView' %}
    {% if payment %}
    {% blocktranslate with payment=payment %}
    of the Payment {{ payment }}  
    {% endblocktranslate %}
    {% elif invoicee %}
    {% blocktranslate with name=invoicee.name %}
    of the INVOICEE {{ name }}  
    {% endblocktranslate %}
    {% endif %}
</h1>
{% if messages %}
<div class="messages-content">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% translate 'Error' %}: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="filter-form-wrapper">
    <form 
        hx-push-url="true" 
        hx-indicator="#indicator"
        hx-get=
        {% if invoicee %}
        "{% url 'Invoicee:invoicee' invoicee.id %}"
        {% elif payment %}
        "{% url 'Invoice:payment' payment.id %}"
        {% else %}
        "{% url 'Invoice:index' %}"
        {% endif %}
        hx-swap="innerHTML" 
        hx-target="main" 
        class="filter-form">
        <div class="form-main">
            <h2>{% translate "HomeCONTROLSText" %}</h2>
            {% csrf_token %}
            {{ form }}
        </div>
        <div class="form-footer">
            <button class="submit-button" type="submit">{% translate "ApplyFilter" %}</button>
        </div>
    </form>
</div>
{% if payment %}
<div class="item-list">
    <div class="item-list-header">{% translate 'PaymentDetail' %}</div>
    <table>
        <thead>
            <tr>
                <th style="width: 300px" nonce={{ request.csp_nonce }}>{% translate 'INVOICEE' %}</th>
                <th>{% translate 'PaymentDay' %}</th>
                <th>{% translate 'PaidAmount' %}</th>
                <th>{% translate 'PaidInvoices' %}</th>
                {% if invoicerHasManyBankAccounts %}
                <th>{% translate 'BankAccount' %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% include './payment-list-item.html' with payment=payment %}
        </tbody>
    </table>
</div>
{% elif invoicee %}
<div class="item-list">
    <div class="item-list-header">{% translate 'INVOICEEDetail' %}</div>
    <table>
        <thead>
            <tr>
                <th>{% translate 'Name' %}</th>
                <th>{% translate 'Address' %}</th>
                {% if private %}
                <th>{% translate 'CIN' %}</th>
                {% else %}
                <th>{% translate 'ICE' %}</th>
                {% endif %}
                <th>{% translate 'OutStandingAmount' %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% include './Invoicee-list-item.html' with invoicee=invoicee %}
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
{% if invoice_list %}
<div class="item-list">
    {% if payment %}
    <div class="item-list-header">{% translate 'INVOICESOfPayment' %}</div>
    {% elif invoicee %}
    <div class="item-list-header">{% translate 'INVOICESOfInvoicee' %}</div>
    {% endif %}
    <table>
        <thead>
            <tr>
                {% if not invoicee %}
                <th style="width: 300px" nonce={{ request.csp_nonce }}>{% translate 'INVOICEE' %}</th>
                {% endif %}
                <th>{% translate 'InvoiceNumber' %}</th>
                <th>{% translate 'TotalAfterVAT' %}</th>
                <th>{% translate 'TBPaid' %}</th>
                <th>{% translate 'Currency' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoice_list %}
            {% include './Invoice-list-item.html' with invoicee=invoicee payment=payment invoice=invoice %}
            {% endfor %}
        </tbody>
    </table>
    <div class="item-list-footer">
        {% if not payment %}
        <button 
            class="extensive-button"
            type="button"
            {% if invoicee %}
            hx-get="{% url 'Invoice:add-invoice-for' invoicee.id %}"
            {% else %}
            hx-get="{% url 'Invoice:add-invoice' %}"
            {% endif %}
            hx-target="#invoice-form-dialog"
            hx-on:click="document.getElementById('invoice-form-dialog').showModal();"
            hx-swap="innerHTML">
            {% include './symbols/file-plus.svg' %}
            {% if invoicee %}
            <span class="text">{% translate 'AddNewInoivceToINVOICEE' %}</span>
            {% else %}
            <span class="text">{% translate 'AddNewInvoice' %}</span>
            {% endif %}
        </button>
        <button 
            class="extensive-button"
            type="button"
            {% if invoicee %}
            hx-get="{% url 'Invoice:add-estimate-for' invoicee.id %}"
            {% else %}
            hx-get="{% url 'Invoice:add-estimate' %}"
            {% endif %}
            hx-target="#invoice-form-dialog"
            hx-on:click="document.getElementById('invoice-form-dialog').showModal();"
            hx-swap="innerHTML">
            {% include './symbols/shopping-bag.svg' %}
            {% if invoicee %}
            <span class="text">{% translate 'AddNewEstimateToINVOICEE' %}</span>
            {% else %}
            <span class="text">{% translate 'AddNewEstimate' %}</span>
            {% endif %}
        </button>
    </div>
    {% endif %}
</div>
{% endif %}
