{% load i18n %}
<tr id="table-row-{{ invoice.id }}">
    {% if managerHasMultipleInvoicers %}
    <td 
        nonce="{{ request.nonce_csp_nonce }}"
        style="padding-left: 5px"
        {% if invoice.state == 3 %}
        class="cleared"
        {% elif invoice.status == 3 %}
        class="overdue"
        {% endif %}
    >{{ invoice.invoicer }}</td>
    {% endif %}
    {% if not invoicee %}
    <td 
        nonce="{{ request.nonce_csp_nonce }}"
        style="padding-left: 5px"
        {% if invoice.state == 3 %}
        class="cleared"
        {% elif invoice.status == 3 %}
        class="overdue"
        {% endif %}
    >{{ invoice.invoicee }}</td>
    {% endif %}
    <td 
        helptext="{% translate 'InvoiceNumber' %}"
        {% if invoice.state == 3 %}
        class="cleared"
        {% elif invoice.status == 3 %}
        class="overdue"
        {% endif %}
    >{{ invoice.number }}</td>
    <td 
        helptext="{% translate 'TotalAfterVAT' %}"
        {% if invoice.state == 3 %}
        class="cleared"
        {% elif invoice.status == 3 %}
        class="overdue"
        {% endif %}
    >{{ invoice.totalAfterVAT }}</td>
    <td 
        helptext="{% translate 'TotalAfterVAT' %}"
        {% if invoice.state == 3 %}
        class="cleared"
        {% elif invoice.status == 3 %}
        class="overdue"
        {% endif %}
    >{{ invoice.outstandingAmount }}</td>
    <td 
    >{{ invoice.baseCurrency }}</td>
    {% if invoice.wellFormed %}
    <td class="borderless">
        <button 
            helptext="{% translate 'InvoicePreviewExplanation' %}"
            type="button"
            hx-get="{% url 'Invoice:preview' invoice.id %}"
            hx-push-url="true"
            hx-swap="innerHTML"
            hx-target="main">
            {% include './symbols/eye.svg' %}
        </button>
    </td>
    {% endif %}
    {% if invoice.state == 0 or invoice.state == 1 %}
    <td class="borderless">
        <a href="{% url 'Invoice:modify' invoice.id %}" helptext="{% translate 'InvoiceModifyExplanation' %}">
            {% include './symbols/edit.svg' %}
        </a>
    </td>
    {% endif %}
    {% if invoice.wellFormed and invoice.state == 0 %}
    <td class="borderless">
        <button
            hx-get="{% url 'Invoice:validate-invoice' invoice.id %}"
            hx-swap="outerHTML"
            helptext="{% translate 'ValidateInvoiceExplantion' %}"
            hx-target="#table-row-{{ invoice.id }}">
            {% include './symbols/check-square.svg' %}
        </button>
    </td>
    {% endif %}
    {% if invoice.wellFormed and invoice.state == 1 %}
    <td class="borderless">
        <button 
            hx-get="{% url 'Invoice:invoice-estimate' invoice.id %}"
            hx-swap="innerHTML"
            helptext="{% translate 'InvoiceEstimateExplanation' %}">
            {% include './symbols/check-circle.svg' %}
        </button>
    </td>
    {% endif %}
    {% if invoice.state != 0 and invoice.state != 1 and invoice.state != 3 and not invoice.state != 5 and invoice.paymentMethod != 'CN' %}
    <td class="borderless">
        <button
            hx-get="{% url 'Invoice:create-creditNote' invoice.id %}"
            hx-swap="innerHTML"
            helptext="{% translate 'CreateCreditNoteExplanation' %}"
            hx-target="main">
            {% include './symbols/corner-down-left.svg' %}
        </button>
    </td>
    {% endif %}
    {% if invoice.state == 0 or invoice.state == 1 %}
    <td class="borderless">
        <button 
            hx-get="{% url 'Invoice:delete-invoice' invoice.id %}"
            hx-swap="innerHTML"
            hx-target="main"
            helptext="{% translate 'DeleteInvoiceButtonExplanation' %}">
            {% include './symbols/trash.svg' %}
        </button>
    </td>
    {% endif %}
    {% if invoice.downloadable %}
    <td class="borderless">
        <a href="{% url 'Invoice:download' invoice.id %}" helptext="{% translate 'DownloadInvoiceButtonExplanation' %}">
            {% include './symbols/download.svg' %}
        </a>
    </td>
    {% endif %}
</tr>
