{% load i18n %}
<div class="invoice-detail-content">
    <h1>{% translate 'INVOICE' %}: {{ invoice }}</h1>
    <div class="invoice-detail-main">
        <div class="invoice-detail-header">
            <div class="left">
                {{ invoice.invoicer.name }}<br>
            </div>
            <div class="right">
                {% if invoice.state == 1 %}
                {% translate 'EstimateNumber' %}: {{ invoice.number }}
                {% else %}
                {% translate 'InvoiceDay' %}: {{ invoice.facturationDate }}<br>
                {% translate 'InvoiceNumber' %}: {{ invoice.number }}
                {% endif %}
            </div>
        </div>
        <div class="invoice-detail-address">
            {{ invoice.invoicee.name }}<br>
            {% if invoice.invoicee.isPerson %}
            {% translate 'ICE' %}: {{ invoice.invoicee.ice }}<br>
            {% else %}
            {% translate 'CIN' %}: {{ invoice.invoicee.cin }}<br>
            {% endif %}
            {{ invoice.invoicee.address }}<br>
            {{ invoice.invoicee.country }}
        </div>
        <div class="invoice-detail-opening">
            {% if invoice.state == 1 %}
            {% translate 'TheEstimateOpening' %}
            {% else %}
            {% if invoice.dueDate == invoice.facturationDate %}
            {% translate 'TheInvoiceIsDueAtReception' %}
            {% else %}
            {% translate 'DueDate' %}: {{ invoice.dueDate }}
            {% endif %}
            {% endif %}
        </div>
        <div class="invoice-detail-body">
            {% for project in invoice.project_set.all %}
            <div class="invoice-detail-project-title">{{ project.title}}</div>
            <table>
                <thead>
                    <tr>
                        <th>{% translate 'Description' %}</th>
                        <th>{% translate 'VAT' %}</th>
                        <th>{% translate 'Count' %}</th>
                        <th>{% translate 'BeforeVAT' %}</th>
                        <th>{% translate 'AfterVAT' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fee in project.fee_set.all %}
                    <tr><td>{{ fee.description }}</td><td>{{ fee.vat }}%</td><td>{{ fee.count }}</td><td>{{ fee.rateUnit }}</td><td>{{ fee.totalAfterVAT }}</td></tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr> <td colspan="4">{% translate 'TotalBeforeVAT' %}</td> <td>{{ project.totalBeforeVAT }}</td> </tr>
                    <tr> <td colspan="4">{% translate 'TotalVAT' %}</td> <td>{{ project.totalVAT }}</td> </tr>
                    <tr> <td colspan="4">{% translate 'TotalAfterVAT' %}</td> <td>{{ project.totalAfterVAT }}</td> </tr>
                </tfoot>
            </table>
            {% endfor %}
        </div>
        <div class="invoice-detail-footer">
        <a href="{% url 'Invoice:download' invoice.id %}">
            {% include './symbols/download.svg' %}
        </a>
        {% if invoice.state == 0 or invoice.state == 1 %}
        <button 
            hx-get="{% url 'Invoice:modify' invoice.id %}"
            hx-swap="innerHTML"
            hx-push-url="true"
            hx-target="main">
            {% include './symbols/edit.svg' %}
        </button>
        <button 
            hx-get="{% url 'Invoice:delete-invoice' invoice.id %}"
            hx-swap="innerHTML"
            hx-push-url="true"
            hx-target="main">
            {% include './symbols/trash.svg' %}
        </button>
        {% endif %}
        </div>
    </div>
</div>
