{% load i18n %}
<div class="invoice-detail-content">
    <h1>{% translate 'INVOICE' %}: {{ invoice }}</h1>
    <div class="invoice-detail-main">
        <div class="invoice-detail-header">
            <div class="left">
                {{ invoice.invoicer.name }}<br>
            </div>
            <div class="right">
                {% translate 'InvoiceDay' %}: {{ invoice.facturationDate }}<br>
                {% translate 'InvoiceNumber' %}: {{ invoice.count }}-{{ invoice.facturationDate.year}}
            </div>
        </div>
        <div class="invoice-detail-address">
            {{ invoice.invoicee.name }}<br>
            {% if invoice.invoicee.isPerson %}
            {% translate 'ICE' %}: {{ invoice.invoicee.ice }}<br>
            {% else %}
            {% translate 'CIN' %}: {{ invoice.invoicee.cin }}<br>
            {% endif %}
            {{ invoice.invoicee.address }}<br>
            {{ invoice.invoicee.country }}
        </div>
        <div class="invoice-detail-opening">
            {% if invoice.dueDate == invoice.facturationDate %}
            {% translate 'TheInvoiceIsDueAtReception' %}
            {% else %}
            {% translate 'DueDate' %}: {{ invoice.dueDate }}
            {% endif %}
        </div>
        <div class="invoice-detail-body">
            {% for project in invoice.project_set.all %}
            <div class="invoice-detail-project-title">{{ project.title}}</div>
            <table>
                <thead>
                    <tr>
                        <th>{% translate 'Description' %}</th>
                        <th>{% translate 'VAT' %}</th>
                        <th>{% translate 'Count' %}</th>
                        <th>{% translate 'BeforeVAT' %}</th>
                        <th>{% translate 'AfterVAT' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fee in project.fee_set.all %}
                    <tr><td>{{ fee.description }}</td><td>{{ fee.vat }}%</td><td>{{ fee.count }}</td><td>{{ fee.rateUnit }}</td><td>{{ fee.totalAfterVAT }}</td></tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr> <td colspan="4">{% translate 'TotalBeforeVAT' %}</td> <td>{{ project.totalBeforeVAT }}</td> </tr>
                    <tr> <td colspan="4">{% translate 'TotalVAT' %}</td> <td>{{ project.totalVAT }}</td> </tr>
                    <tr> <td colspan="4">{% translate 'TotalAfterVAT' %}</td> <td>{{ project.totalAfterVAT }}</td> </tr>
                </tfoot>
            </table>
            {% endfor %}
        </div>
        <a href="{% url 'Invoice:download' invoice.id %}">
        <span class="symbol">
            <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="24" 
                height="24" 
                viewBox="0 0 24 24"
                fill="none" 
                stroke="currentColor" 
                stroke-width="2" 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                class="feather feather-download">
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                <polyline points="7 10 12 15 17 10"></polyline>
                <line x1="12" y1="15" x2="12" y2="3"></line>
            </svg>
        </span>
        <span class="underlined">{% translate "DownloadInvoice" %}</span>
        </a>
        <button 
            hx-get="{% url 'Invoice:modify' invoice.id %}"
            hx-swap="innerHTML"
            hx-push-url="true"
            hx-target="main"
        >
        <span class="symbol">
            <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="24" 
                height="24" 
                viewBox="0 0 24 24" 
                fill="none" 
                stroke="currentColor" 
                stroke-width="2" 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                class="feather feather-edit">
                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
            </svg>
        </span>
        <span class="underlined">{% translate 'ModifyInvoice' %}</span>
        </a>
    </div>
</div>
