.invoice-form-dialog {
    margin: auto;
    padding: 1%;
    border: 0;
    border-radius: 10px;
    background-color: var(--primary-color);
    width: fit-content;
}
.invoice-form {
	display: block;
	color: var(--primary-color);
	background-color: var(--primary-color);
	border-radius: 10px;
	margin: auto;
	padding: 1.5%;
	min-width: 300px;
}
