:root {
	--primary-color: #072352;
	--muted-primary-color: #8391a8;
	--secondary-color: #C3ECEF;
	--light-color: rgba(255, 255, 255, .7);
	--a-background-color: rgba(7, 35, 82, .2);
	--table-first-color: #D0E4F5;
	--table-second-color: #e9f7f8;
	--a-background-color-focus: rgba(7, 35, 82, .3);
	--box-shadow-color: rgba( 31, 38, 135, 0.3 );
	--select-border: #777;
	--select-focus: blue;
	--select-arrow: var(--select-border);
	--font-family-primary:
		"Segoe UI",
		system-ui,
		Roboto,
		"Helvetica Neue",
		Arial,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji";
	--font-family-monospace:
		ui-monospace,
		Menlo,
		Monaco,
		"Cascadia Mono",
		"Segoe UI Mono",
		"Roboto Mono",
		"Oxygen Mono",
		"Ubuntu Monospace",
		"Source Code Pro",
		"Fira Mono",
		"Droid Sans Mono",
		"Courier New",
		monospace,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji";
}

* {
	box-sizing: content-box;
	padding: 0;
	margin: 0;
}

html, body {
	overflow-x: hidden;
	font-family: var(--font-family-primary);
	line-height: 1.6;
	position: relative;
	color: var(--primary-color);
	background-color: var(--secondary-color);
}
body {
	height: 100vh;
	overflow: hidden;
}
ul { list-style-type: none; }
a, button {
	text-decoration: none;
	font-size: 1.2rem;
	display: inline-block;
	padding: 10px;
	margin: 15px 5px;
	cursor: pointer;
	transition: all .1s ease-in-out;
	font: inherit;
	color: var(--primary-color);
	background-color: var(--light-color);
}
a:hover, button:hover {
	background-color: var(--primary-color);
	color: var(--light-color);
}

/* utility classes */
.helptext {
	color: var(--muted-primary-color);
}
.errorlist {
	color: #ff9900;
	font-size: 0.8rem;
}

/* Header */
header {
	display: flex;
	background-color: var(--light-color);
	border-radius: 10px;
	align-items: center;
	flex-direction: row;
	width: fit-content;
	height: 7vh;
	margin: 1vh auto;
}
.complete-logo {
	width: 60px;
}
.nav-box {
	margin: 0;
	padding: 0;
	border-radius: 0;
}
.nav-box ul {
	margin: 0 15px;
	padding: 0;
	display: flex;
	flex-direction: row;
	background-color: var(--light-color);
}
.nav-box ul li a, .nav-box ul li button {
	margin: 0;
	padding: 5px 10px;
	border: 0;
	border-radius: 0;
}

/* aside */
aside {
	padding: 1% 1vh;
	margin: 1vh 1% 0;
	display: inline-flex;
	flex-direction: column;
	border-radius: 10px;
	position: fixed;
	border: 0;
	background-color: var(--light-color);
}
aside .nav-box ul {
	flex-direction: column;
}
aside .nav-box ul li {
	width: 100%;
}
aside .nav-box ul li .MainItem {
	width: 100%;
	border: 2px;
	text-align: left;
	border: 1px solid var(--light-color);
}
aside .nav-box ul li .SubItem {
	width: 100%;
	font-size: .8rem;
	border: 10px;
	color: var(--light-color);
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
}
aside .nav-box ul li .SubItem:hover {
	color: var(--primary-color);
	background-color: var(--light-color);
}
.form-aside-wrapper {
	display: flex;
	flex-direction: column;
	padding: 15px 0 0 15px;
	margin: 0 15px;
}
.form-aside-wrapper form {
	display: flex;
	flex-direction: row;
}
.form-aside-wrapper form button {
	font-size: .8rem;
	padding: 0;
	margin: 0 5px;
	border: 0;
	background: 0lh;
	align-items: flex-end;
	transition: all .25s ease-in-out;
}
.form-aside-wrapper form button:hover {
	color: var(--primary-color);
	text-decoration: underline;
}


/* main */
main {
	display: flex;
	background-color: var(--light-color);
	border-radius: 10px;
	display: inline-block;
	width: 83%;
	margin: 1vh .5%;
	padding: 1vh 1%;
	height: 81vh;
	left: 14%;
	overflow: auto;
	position: fixed;
}
.expanded {
	display: grid;
	width: 97%;
	position: relative;
	left: 0%;
}

/* footer */
footer {
	background: var(--primary-color);
	color: var(--secondary-color);
	margin-top: auto;
	width: 100%;
	text-align: center;
	height: 8vh;
	position: fixed;
	top: 95vh;
	display: grid;
}
.copyright {
	padding: 10px;
}
.footer-social {
	color: var(--secondary-color);
	background-color: var(--primary-color);
	margin: .5vh 10px;
	padding: 0;
}
.footer-social:hover {
	transform: scale(1.5);
	transition: .25s ease-in-out;
}

/* login-form */
.login-form-wrapper {
	display: block;
	border-radius: 5px;
	background-color: var(--light-color);
	margin: auto;
	padding: 2%;
	width: min(400px, 100%);
	justify-items: flex-start;
}
.login-form {
	width: 100%;
}
.login-form label {
	color: var(--muted-primary-color);
	padding: 0;
	margin: 0;
}
.login-form-footer {
	display: flex;
	align-items: end;
	padding: 0;
}
.login-form-footer button {
	border: 0;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	padding: 0.5rem;
	margin: 5px 0;
	width: max-content;
}
.login-form button:hover {
	border-radius: 15px 20px;
	color: var(--primary-color);
	background-color: var(--secondary-color);
}
.login-form input {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: 0px;
	border-radius: 5px;
	padding: 0.6rem;
	width: 100%;
}
.login-form input:active {
	border: 2px;
	border-color: var(--primary-color);
}


/* Responsive Design */
@media(max-width: 1500px) {
	aside {
		display: none;
	}
	main {
		width: 96%;
		margin-left: 1%;
		margin-right: 1%;
		left: 0%;
	}
}
