{% load i18n %}
<h1>{% translate 'INVOICEE' %}</h1>
{% if invoicee_list %}
<div class="item-list">
    <table>
        <thead>
            <tr>
                {% if hasMultipleInvoicers %}
                <th>{% translate 'INVOICER' %}</th>
                {% endif %}
                <th>{% translate 'Name' %}</th>
                <th>{% translate 'Address' %}</th>
                {% if private %}
                <th>{% translate 'cin' %}</th>
                {% else %}
                <th>{% translate 'ice' %}</th>
                {% endif %}
                <th>{% translate 'NumOutstandingInvoices' %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for invoicee in invoicee_list %}
                {% include './Invoicee-list-item.html' with invoicee=invoicee %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% else %}
{% translate 'InvoicerHasNoInvoicees' %}
{% endif %}
