{% load i18n %}
<tr>
    {% if hasMultipleInvoicers %}
    <td>{{ invoicee.invoicer.name }}</td>
    {% endif %}
    <td>{{ invoicee.name }}</td>
    {% if invoicee.address|length > 15 %}
    <td><button
    helptext="{{ invoicee.address }}">{{ invoicee.address|slice:15 }}...
    </button></td>
    {% else %}
    <td>{{ invoicee.address }}</td>
    {% endif %}
    {% if private %}
    <td>{% if invoicee.cin %}{{ invoicee.cin }}{% else %}-{% endif %}</td>
    {% else %}
    <td>{% if invoicee.ice %}{{ invoicee.ice }}{% else %}-{% endif %}</td>
    {% endif %}
    <td>
        {% if invoicee.outStandingAmounts %}
        <ul>
        {% for outStandingAmount in invoicee.outStandingAmounts %}
        <li>{{ outStandingAmount.amount }}{{ outStandingAmount.currency }}</li>
        {% endfor %}
        </ul>
        {{ invoicee.outStandingAmount }}
        {% else %}-{% endif %}
    </td>
    <td class="borderless">
        <button 
            helptext="{% translate 'InvoiceePreviewExplanation' %}"
            type="button"
            hx-get="{% url 'Invoicee:invoicee' invoicee.id %}"
            hx-push-url="true"
            hx-swap="innerHTML"
            hx-target="main">
            {% include './symbols/eye.svg' %}
        </button>
    </td>
    <td class="borderless">
        <button 
            hx-get="{% url 'Invoicee:modify-invoicee' invoicee.id %}" 
            hx-target="#invoicee-form-dialog"
            hx-swap="innerHTML"
            hx-push-url="false"
            hx-on:click="document.getElementById('invoicee-form-dialog').showModal()"
            type="button"
            helptext="{% translate 'InvoiceeModifyExplanation' %}">
            {% include './symbols/edit.svg' %}
        </button>
    </td>
    <td class="borderless">
        <button 
            type="button"
            helptext="{% translate 'AddInvoiceForInvoicee' %}"
            hx-get="{% url 'Invoice:add-invoice-for' invoicee.id %}"
            hx-target="#invoice-form-dialog"
            hx-on:Click="document.getElementById('invoice-form-dialog').showModal()"
            hx-swap="innerHTML">
            {% include './symbols/file-plus.svg' %}
        </button>
    </td>
    <td class="borderless">
        <button 
            type="button"
            helptext="{% translate 'AddEstimateForInvoicee' %}"
            hx-get="{% url 'Invoice:add-estimate-for' invoicee.id %}"
            hx-target="#invoice-form-dialog"
            hx-on:Click="document.getElementById('invoice-form-dialog').showModal()"
            hx-swap="innerHTML">
            {% include './symbols/shopping-bag.svg' %}
        </button>
    </td>
</tr>
