{% load i18n %}
{% if user.is_authenticated %}
<aside>
    <div class="nav-box column">
        <ul>
            {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}" class="MainItem">{% translate 'ADMINSHORTCUTS' %}</a></li>
            {% if user.is_superuser %}
            <li><a href="{% url 'admin:Invoicer_invoicer_changelist' %}" class="SubItem">- {% translate 'INVOICERS' %}</a></li>
            {% endif %}
            <li><a href="{% url 'admin:Invoicee_invoicee_changelist' %}" class="SubItem">- {% translate 'INVOICEES' %}</a></li>
            <li><a href="{% url 'admin:Invoice_invoice_changelist' %}" class="SubItem">- {% translate 'INVOICES' %}</a></li>
            <li><a href="{% url 'admin:Invoice_project_changelist' %}" class="SubItem">- {% translate 'PROJECTS' %}</a></li>
            <li><a href="{% url 'admin:Invoice_fee_changelist' %}" class="SubItem">- {% translate 'FEES' %}</a></li>
	    <li><button class="MainItem" type="button" hx-get="{% url 'Invoice:add-invoice' %}" hx-push-url="true" hx-target="main" hx-swap="innerHTML">
	      {% translate 'AddInvoice' %}
	    </button></li>
	    <li><button class="MainItem" type="button" hx-get="{% url 'Invoice:add-draft' %}" hx-push-url="true" hx-target="main" hx-swap="innerHTML">
	      {% translate 'AddDraft' %}
	    </button></li>
            {% endif %}
	    {% block extraAsideItems %} {% endblock %}
        </ul>
    </div>
</aside>
{% endif %}
