{% load i18n %}
{% if user.is_authenticated %}
<aside>
    <div class="nav-box column">
        <ul>
            {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}" class="MainItem">{% translate 'ADMINSHORTCUTS' %}</a></li>
            {% if user.is_superuser %}
            <li><a href="{% url 'admin:Invoicer_invoicer_changelist' %}" class="SubItem">- {% translate 'INVOICERS' %}</a></li>
            {% endif %}
            <li><a href="{% url 'admin:Invoicee_invoicee_changelist' %}" class="SubItem">- {% translate 'INVOICEES' %}</a></li>
            <li><a href="{% url 'admin:Invoice_invoice_changelist' %}" class="SubItem">- {% translate 'INVOICES' %}</a></li>
            <li><a href="{% url 'admin:Invoice_project_changelist' %}" class="SubItem">- {% translate 'PROJECTS' %}</a></li>
            <li><a href="{% url 'admin:Invoice_fee_changelist' %}" class="SubItem">- {% translate 'Fees' %}</a></li>
            {% endif %}
            <li><a href="{% url 'Invoice:add-invoice' %}" class="MainItem">{% translate 'AddInvoice' %}</a></li>
            <li><a href="{% url 'Invoice:add-draft' %}" class="MainItem">{% translate 'AddDraft' %}</a></li>
            <li><button 
                hx-get="{% url 'Invoicee:add-invoicee' %}" class="MainItem"
                hx-target="#invoicee-form-dialog"
                hx-on:click="document.getElementById('invoicee-form-dialog').showModal();"
                hx-swap="innerHTML"
            >{% translate 'AddInvoicee' %}</button></li>
            <li><button 
                hx-get="{% url 'Invoicee:add-private-invoicee' %}" class="MainItem"
                hx-target="#invoicee-form-dialog"
                hx-on:click="document.getElementById('invoicee-form-dialog').showModal();"
                hx-swap="innerHTML"
            >{% translate 'AddPrivateInvoicee' %}</button></li>
            {% block extraAsideItems %} {% endblock %}
        </ul>
    </div>
    <dialog id="invoicee-form-dialog" class="invoicee-form-dialog"></dialog>
</aside>
{% endif %}
