{% load i18n %}
{% if user.is_authenticated %}
<aside>
    <div class="nav-box column">
        <ul>
            {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}" class="MainItem">{% translate 'ADMINSHORTCUTS' %}</a></li>
            {% if user.is_superuser %}
            <li><a href="{% url 'admin:Invoicer_invoicer_changelist' %}" class="SubItem">- {% translate 'INVOICERS' %}</a></li>
            {% endif %}
            <li><a href="{% url 'admin:Invoicee_invoicee_changelist' %}" class="SubItem">- {% translate 'INVOICEES' %}</a></li>
            <li><a href="{% url 'admin:Invoice_invoice_changelist' %}" class="SubItem">- {% translate 'INVOICES' %}</a></li>
            <li><a href="{% url 'admin:Invoice_project_changelist' %}" class="SubItem">- {% translate 'PROJECTS' %}</a></li>
            <li><a href="{% url 'admin:Invoice_fee_changelist' %}" class="SubItem">- {% translate 'Fees' %}</a></li>
            {% endif %}
            <li><button 
                hx-indicator="#indicator"
                hx-get="{% url 'Invoice:add-estimate' %}" class="MainItem"
                hx-target="#invoice-form-dialog"
                hx-on:click="document.getElementById('invoice-form-dialog').showModal();"
                hx-swap="innerHTML"
                nonce={{request.csp_nonce}}
            >{% translate 'AddEstimate' %}</button></li>
            <li><button 
                hx-indicator="#indicator"
                hx-get="{% url 'Invoice:add-invoice' %}" class="MainItem"
                hx-target="#invoice-form-dialog"
                hx-on:click="document.getElementById('invoice-form-dialog').showModal();"
                hx-swap="innerHTML"
                nonce={{request.csp_nonce}}
            >{% translate 'AddInvoice' %}</button></li>
            <li><button 
                hx-indicator="#indicator"
                hx-get="{% url 'Invoice:add-payment' %}" class="MainItem"
                hx-target="#payment-form-dialog"
                hx-on:click="document.getElementById('payment-form-dialog').showModal();"
                hx-swap="innerHTML"
                nonce={{request.csp_nonce}}
            >{% translate 'AddPayment' %}</button></li>
            <li><button 
                hx-indicator="#indicator"
                hx-get="{% url 'Invoicee:add-invoicee' %}" class="MainItem"
                hx-target="#invoicee-form-dialog"
                hx-on:click="document.getElementById('invoicee-form-dialog').showModal();"
                hx-swap="innerHTML"
                nonce={{request.csp_nonce}}
            >{% translate 'AddInvoicee' %}</button></li>
            <li><button 
                hx-indicator="#indicator"
                hx-get="{% url 'Invoicee:add-private-invoicee' %}" class="MainItem"
                hx-target="#invoicee-form-dialog"
                hx-on:click="document.getElementById('invoicee-form-dialog').showModal();"
                hx-swap="innerHTML"
                nonce={{request.csp_nonce}}
            >{% translate 'AddPrivateInvoicee' %}</button></li>
            {% block extraAsideItems %} {% endblock %}
        </ul>
    </div>
	<div class="form-aside-wrapper">
		<div class="helptext">{% translate 'ChooseTheLanguage' %}</div>
		<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
			<input name="next" type="hidden" value="{{ redirect_to }}">
			<select name="language">
				{% get_current_language as LANGUAGE_CODE %}
				{% get_available_languages as LANGUAGES %}
				{% get_language_info_list for LANGUAGES as languages %}
				{% for language in languages %}
				<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
					{{ language.name_local }} ({{ language.code }})
				</option>
				{% endfor %}
			</select>
			<button type="submit">{% translate 'GO' %}</button>
		</form>
	</div>
	<div class="form-aside-wrapper">
		<form action="{% url 'logout' %}" method="post">
			{% csrf_token %}
			<button type="submit">{% translate 'Log Out' %}</button>
		</form>
	</div>
</aside>
{% endif %}
