<footer>
	<div class="copyright">
	  <div class="f-social" style="text-align: center">
	  <a href="mailto:infos@lamome.business" class="footer-social"><i class="far fa-envelope"></i></a>
	  <a href="#" class="footer-social"><i class="fab fa-linkedin"></i></a>
	  <a href="#" class="footer-social"><i class="fab fa-facebook"></i></a>
	  <a href="#" class="footer-social"><i class="fab fa-instagram"></i></a>
	  <a href="#" class="footer-social"><i class="fab fa-twitter"></i></a><br>
	  </div>
	  LA MOME Business&copy; 2024
	</div>
	{% if user.is_authenticated %}
	<form action="{% url 'logout' %}" class="form-logout" method="post">
	  {% csrf_token %}
	  <button type="submit">Log Out</button>
	</form>
	{% endif %}
</footer>
