{% load i18n %}
{% load static %}
<header>
  <div class="brand-box">
    <img src="{% static 'img/lmmb-compact.svg' %}" alt="complete-logo" class="complete-logo">
  </div>
  <div class="nav-box">
    <ul>
      <li><button type="button" hx-get="{% url 'home:index' %}" hx-push-url="true" hx-target="main" hx-swap="innerHTML">
        {% translate 'Home' %}
      </button></li>
      {% if user.is_authenticated %}
      <li>
        <button type="button" hx-get="{% url 'Invoicee:invoicees' %}" hx-push-url="true" hx-target="main" hx-swap="innerHTML">
        {% translate 'INVOICEES' %}
        </button>
      </li>
      <li>
        <button type="button" hx-get="{% url 'Invoicee:pinvoicees' %}" hx-push-url="true" hx-target="main" hx-swap="innerHTML">
        {% translate 'PrivateINVOICEES' %}
        </button>
      </li>
      <li>
        <button type="button" hx-get="{% url 'Invoice:index' %}" hx-push-url="true" hx-target="main" hx-swap="innerHTML">
        {% translate 'INVOICES' %}
        </button>
      </li>
      <li>
        <button type="button" hx-get="{% url 'Invoice:payments' %}" hx-push-url="true" hx-target="main" hx-swap="innerHTML">
        {% translate 'Payments' %}
        </button>
      </li>
      {% if user.is_superuser or user.is_staff %}
      <li><a href={% url 'admin:index' %}>{% translate 'ADMIN' %}</a></li>
      {% endif %}
      {% if user.is_superuser %}
      <li><a href={% url 'rosetta-old-home-redirect' %}>{% translate 'ROSETTA' %}</a></li>
      {% endif %}
      {% else %}
      <li><a href={% url 'login' %}>{% translate 'LOGIN' %}</a></li>
      <li><a href={% url 'home:register' %}>{% translate 'REGISTER' %}</a></li>
      {% endif %}
    </ul>
  </div>
</header>
