@charset "UTF-8";
::backdrop {
  background-image: linear-gradient(45deg, magenta, rebeccapurple, dodgerblue, green);
  opacity: 0.75;
}

.helptext {
  font-size: 0.8rem;
  color: var(--light-color);
  padding: 0;
}

form {
  align-items: center;
  width: fit-content;
}

textarea {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.25rem;
  border: 0;
  border-radius: 2px;
}

input {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 0px;
  border-radius: 5px;
  padding: 0.25rem;
  width: max-content;
}

input:active {
  border: 2px;
  border-color: var(--primary-color);
}

input[type=submit] {
  border: 0;
  padding: 0.5rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  width: max(20%, 80px);
  margin: 5% 0 5% max(10%, 10px);
}

input[type=submit]:hover {
  border-radius: 10px 20px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

form div {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
}

form label {
  font-size: 0.8rem;
  color: var(--light-color);
}

select {
  appearance: none;
  width: 90%;
  padding: 0.25rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px var(--primary-color) #caced1;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  transition: background-color 1s;
}

button.extensive-button {
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: row;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in-out;
}

button.extensive-button .symbol {
  transition: all 0.25s ease-in-out;
  display: block;
  transition: all 0.25s ease-in-out;
  padding: 0.5rem;
}

button.extensive-button .text {
  display: block;
  transition: all 0.25s ease-in-out;
  color: var(--primary-color);
  padding: 0.5rem;
  transition: all 0.25s ease-in-out;
}

button.extensive-button:hover .text {
  background-color: var(--secondary-color);
}

ul.messages {
  display: block;
  width: 100%;
  margin: min(5px, 0.25%);
}

li.error {
  padding-left: 5px;
  border-left: 2px solid #ff3300;
  background-color: #ffe6e6;
}

li.info {
  padding-left: 5px;
  border-left: 2px solid var(--primary-color);
  background-color: var(--muted-primary-color);
}

li.success {
  padding-left: 5px;
  border-left: 2px solid #33cc33;
  background-color: #ebfaeb;
}

li.warning {
  padding-left: 5px;
  border-left: 2px solid #ffcc00;
  background-color: #fffae6;
}

li.debug {
  padding-left: 5px;
  border-left: 2px solid #660066;
  background-color: #ffe6ff;
}

.cleared {
  background-color: #ebfaeb;
}

.overdue {
  background-color: #ffe6e6;
}

dialog > button {
  border-radius: 5px;
  border-color: var(--muted-primary-color);
  background-color: var(--primary-color);
  color: var(--muted-primary-color);
  margin: 0.125rem 0.25rem;
  padding: 0.125rem;
}

dialog > button:hover {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.form-footer > button {
  border-radius: 5px;
  border-color: var(--muted-primary-color);
  background-color: var(--primary-color);
  color: var(--muted-primary-color);
  margin: 0.125rem 0.25rem;
  padding: 0.125rem;
}

.form-footer > button:hover {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

button.dialog-close-button {
  display: block;
  border: 0;
  padding: 0.125rem;
  align-self: start;
}

.dialog-submit-button {
  display: block;
  padding: 0.125rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: all 0.25s ease-in-out;
}

.dialog-close-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-header {
  padding: 0.125rem;
  align-self: flex-start;
  color: var(--muted-primary-color);
}

.form-main h2 {
  color: var(--light-color);
  font-size: 1rem;
}

.form-footer {
  display: flex;
  flex-direction: row;
  margin: 0.125rem;
  padding: 0.125rem;
  align-self: flex-end;
}

.form-wrapper {
  margin: auto;
  width: fit-content;
}

.form {
  display: block;
  color: var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  margin: auto;
  padding: 1.5%;
  min-width: 300px;
}

.form-dialog {
  margin: auto;
  padding: 1%;
  border: 0;
  border-radius: 10px;
  background-color: var(--primary-color);
  width: fit-content;
}

.filter-form-wrapper {
  display: block;
}

.filter-form {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: min(10px, 0.5%);
  margin: min(5px, 0.25%);
  border-radius: 10px;
  display: flex;
}

.filter-form > .form-main {
  padding: 0;
}

.filter-form > .form-main > div {
  padding: 5px 0;
}

.filter-form > .form-footer > .submit-button {
  margin: 0;
}

#indicator {
  opacity: 0;
  transition: opacity 250ms ease-in;
  position: absolute;
  top: 50%;
  right: 50%;
  scale: 4;
  background-color: var(--secondary-color);
  padding: 20px;
}

.htmx-indicator {
  opacity: 0;
}

.htmx-request .htmx-indicator {
  opacity: 1;
}

.htmx-request .htmx-indicator {
  opacity: 1;
}

table.StateTable {
  border: 1px solid var(--light-color);
  background-color: #C3ECEF;
  text-align: left;
  border-collapse: collapse;
  margin: 10px;
  display: inline-table;
}

table.StateTable td, table.StateTable th {
  padding: 6px 6px;
}

table.StateTable tbody td {
  font-size: 13px;
  color: #072352;
  border: 1px solid var(--light-color);
}

table.StateTable tbody tr:nth-child(even) {
  background: var(--table-first-color);
}

table.StateTable tbody tr:nth-child(odd) {
  background: var(--table-second-color);
}

table.StateTable thead {
  background: #072352;
}

table.StateTable thead th {
  font-size: 14px;
  font-weight: bold;
  color: #C3ECEF;
  text-align: center;
}

table.StateTable tfoot {
  font-size: 14px;
  font-weight: bold;
  background: #D0E4F5;
  border-top: 2px solid #444444;
}

table.StateTable tfoot td {
  font-size: 14px;
}

table.StateTable tfoot .links {
  text-align: right;
}

table.StateTable tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  padding: 2px 8px;
  border-radius: 5px;
}

table.StateTable .HeaderColumn {
  background: #072352;
  font-size: 14px;
  font-weight: bold;
  color: #C3ECEF;
  text-align: center;
}

.item-list {
  padding: 1%;
  margin: min(5px, 0.25%);
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.item-list table {
  padding: 1%;
  margin: 2%;
  border-collapse: collapse;
  border-bottom: 2px solid var(--primary-color);
}

.item-list thead {
  padding: 1%;
  margin: 2%;
}

.item-list thead tr th {
  font-size: 0.9rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 0.5rem;
  padding: 0.5rem;
}

.item-list table td + td {
  font-size: 0.8rem;
  border-left: 2px solid var(--muted-primary-color);
}

.item-list .borderless {
  border: 0;
  background-color: var(--secondary-color);
  padding: 0.15rem;
}

.item-list tbody tr td {
  padding: 0.1rem 0.5rem;
  border-bottom: 1px solid var(--primary-color);
}

.item-list tbody tr:nth-child(odd) {
  background-color: var(--table-first-color);
}

.item-list tbody tr:nth-child(even) {
  background-color: var(--table-second-color);
}

.item-list table button, .item-list table a {
  padding: 0;
  margin: 0;
  background-color: inherit;
  color: var(--primary-color);
  border: 0;
  padding: 0.1rem;
  border-radius: 5px;
  position: relative;
}

.item-list table button::after {
  content: attr(helptext);
  display: block;
  position: absolute;
  top: 22px;
  left: 0;
  opacity: 0;
  width: 150px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 500ms, top 500ms;
}

.item-list table button::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 20px;
  opacity: 0;
  width: 0;
  height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms, top 500ms;
}

.item-list table button:hover {
  z-index: 2;
}

.item-list table button:hover::after,
.item-list table button:hover::before {
  opacity: 1;
}

.item-list table button:hover::after {
  top: 30px;
}

.item-list table button:hover::before {
  top: 20px;
}

.item-list table button:hover, .item-list table a:hover {
  border: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.item-list-footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.item-list-header {
  border-bottom: 1px solid var(--primary-color);
}

.invoice-detail-main {
  display: block;
  background-color: var(--light-color);
  width: 80%;
  padding: 1% 5%;
  margin: 1% 5%;
  border-radius: 5px;
}

.invoice-detail-header {
  display: flex;
}

.invoice-detail-header .right {
  align-self: right;
  width: min(20%, 250px);
}

.invoice-detail-header .left {
  align-self: left;
  width: max(80%, 100px);
}

.invoice-detail-address  {
  margin: 2%;
  padding: 2%;
}

.invoice-detail-opening {
  margin: 2.5%;
}

.invoice-detail-body {
  margin: 2% 6%;
  text-align: center;
}

.invoice-detail-body table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin: 1%;
  border-bottom: 2px solid var(--primary-color);
  border-top: 2px solid var(--primary-color);
}

.invoice-detail-body table thead {
  border-bottom: 1px solid var(--primary-color);
  font-weight: bold;
}

.invoice-detail-body table tfoot {
  border-top: 1px solid var(--primary-color);
}

.invoice-detail-footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.invoice-form-dialog {
  margin: auto;
  padding: 1%;
  border: 0;
  border-radius: 10px;
  background-color: var(--primary-color);
  width: fit-content;
}

.invoice-form {
  display: block;
  color: var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  margin: auto;
  padding: 1.5%;
  min-width: 300px;
}

.invoice-modify-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0;
  padding: 0;
}

.invoice-form-dialog {
  margin: auto;
  padding: 1%;
  border: 0;
  border-radius: 10px;
  background-color: var(--primary-color);
  width: fit-content;
}

.fee-dialog {
  margin: auto;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  background-color: var(--primary-color);
}

.fee-dialog form {
  display: flex;
  flex-direction: row;
}

.project-dialog {
  margin: auto;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  background-color: var(--primary-color);
}

.project-dialog .fee-form {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.project-dialog-form {
  display: flex;
  flex-direction: row;
}

.fee-dialog-form {
  display: flex;
  flex-direction: row;
}

.project-space {
  display: block;
}

.project-space .title {
  margin: 0.5% 1%;
  padding: 0.5% 1%;
  border-bottom: 1px solid var(--primary-color);
}

.project-space .item-list {
  min-width: 450px;
  margin: 15px;
}

.project-space-footer {
  border-top: 1px solid var(--primary-color);
  display: flex;
  justify-content: end;
}

.project-controls {
  display: flex;
  justify-content: end;
}

.invoice-button {
  width: 100%;
}

.invoicee-form-dialog {
  margin: auto;
  padding: 1%;
  border: 0;
  border-radius: 10px;
  background-color: var(--primary-color);
  width: fit-content;
}

:root {
  --primary-color: #072352;
  --muted-primary-color: #8391a8;
  --secondary-color: #C3ECEF;
  --light-color: rgba(255, 255, 255, .7);
  --a-background-color: rgba(7, 35, 82, .2);
  --table-first-color: #D0E4F5;
  --table-second-color: #e9f7f8;
  --a-background-color-focus: rgba(7, 35, 82, .3);
  --box-shadow-color: rgba( 31, 38, 135, 0.3 );
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
  --font-family-primary:
  	"Segoe UI",
  	system-ui,
  	Roboto,
  	"Helvetica Neue",
  	Arial,
  	sans-serif,
  	"Apple Color Emoji",
  	"Segoe UI Emoji",
  	"Segoe UI Symbol",
  	"Noto Color Emoji";
  --font-family-monospace:
  	ui-monospace,
  	Menlo,
  	Monaco,
  	"Cascadia Mono",
  	"Segoe UI Mono",
  	"Roboto Mono",
  	"Oxygen Mono",
  	"Ubuntu Monospace",
  	"Source Code Pro",
  	"Fira Mono",
  	"Droid Sans Mono",
  	"Courier New",
  	monospace,
  	"Apple Color Emoji",
  	"Segoe UI Emoji",
  	"Segoe UI Symbol",
  	"Noto Color Emoji";
}

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  font-family: var(--font-family-primary);
  line-height: 1.6;
  position: relative;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

body {
  height: 100vh;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a, button {
  text-decoration: none;
  font-size: 1.2rem;
  display: inline-block;
  padding: 10px;
  margin: 15px 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font: inherit;
  color: var(--primary-color);
  background-color: var(--light-color);
}

a:hover, button:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

/* utility classes */
.helptext {
  color: var(--muted-primary-color);
}

.errorlist {
  color: #ff9900;
  font-size: 0.8rem;
}

/* Header */
header {
  display: flex;
  background-color: var(--light-color);
  border-radius: 10px;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  height: 7vh;
  margin: 1vh auto;
}

.complete-logo {
  width: 60px;
}

.nav-box {
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.nav-box ul {
  margin: 0 15px;
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--light-color);
}

.nav-box ul li a, .nav-box ul li button {
  margin: 0;
  padding: 5px 10px;
  border: 0;
  border-radius: 0;
}

/* aside */
aside {
  padding: 1% 1vh;
  margin: 1vh 1% 0;
  display: inline-flex;
  flex-direction: column;
  border-radius: 10px;
  position: fixed;
  border: 0;
  background-color: var(--light-color);
}

aside .nav-box ul {
  flex-direction: column;
}

aside .nav-box ul li {
  width: 100%;
}

aside .nav-box ul li .MainItem {
  width: 100%;
  border: 2px;
  text-align: left;
  border: 1px solid var(--light-color);
}

aside .nav-box ul li .SubItem {
  width: 100%;
  font-size: 0.8rem;
  border: 10px;
  color: var(--light-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

aside .nav-box ul li .SubItem:hover {
  color: var(--primary-color);
  background-color: var(--light-color);
}

.form-aside-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 0 0 15px;
  margin: 0 15px;
}

.form-aside-wrapper form {
  display: flex;
  flex-direction: row;
}

.form-aside-wrapper form button {
  font-size: 0.8rem;
  padding: 0;
  margin: 0 5px;
  border: 0;
  background: 0lh;
  align-items: flex-end;
  transition: all 0.25s ease-in-out;
}

.form-aside-wrapper form button:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* main */
main {
  display: flex;
  background-color: var(--light-color);
  border-radius: 10px;
  display: inline-block;
  width: 83%;
  margin: 1vh 0.5%;
  padding: 1vh 1%;
  height: 81vh;
  left: 14%;
  overflow: auto;
  position: fixed;
}

.expanded {
  display: grid;
  width: 97%;
  position: relative;
  left: 0%;
}

/* footer */
footer {
  background: var(--primary-color);
  color: var(--secondary-color);
  margin-top: auto;
  width: 100%;
  text-align: center;
  height: 8vh;
  position: fixed;
  top: 95vh;
  display: grid;
}

.copyright {
  padding: 10px;
}

.footer-social {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 0.5vh 10px;
  padding: 0;
}

.footer-social:hover {
  transform: scale(1.5);
  transition: 0.25s ease-in-out;
}

/* login-form */
.login-form-wrapper {
  display: block;
  border-radius: 5px;
  background-color: var(--light-color);
  margin: auto;
  padding: 2%;
  width: min(400px, 100%);
  justify-items: flex-start;
}

.login-form {
  width: 100%;
}

.login-form label {
  color: var(--muted-primary-color);
  padding: 0;
  margin: 0;
}

.login-form-footer {
  display: flex;
  align-items: end;
  padding: 0;
}

.login-form-footer button {
  border: 0;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 0.5rem;
  margin: 5px 0;
  width: max-content;
}

.login-form button:hover {
  border-radius: 15px 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.login-form input {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 0px;
  border-radius: 5px;
  padding: 0.6rem;
  width: 100%;
}

.login-form input:active {
  border: 2px;
  border-color: var(--primary-color);
}

/* Responsive Design */
@media (max-width: 1500px) {
  aside {
    display: none;
  }
  main {
    width: 96%;
    margin-left: 1%;
    margin-right: 1%;
    left: 0%;
  }
}
.home-content {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 10px;
  margin: 10px;
}

.home-main {
  display: block;
  padding: 10px;
  margin: 10px;
}

.home-controls {
  color: var(--secondary-color);
  display: block;
  padding: 10px;
  margin: 10px;
  align-content: center;
  border-radius: 10px;
  background-color: var(--primary-color);
  margin: 0 auto;
  padding: 2%;
  height: max-content;
  width: 100%;
}

.home-controls .helptext {
  font-size: 0.8rem;
  padding: 0;
}

.home-controls form {
  align-items: center;
}

.home-controls input {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 0px;
  border-radius: 5px;
  padding: 0.25rem;
}

.home-controls input:active {
  border: 2px;
  border-color: var(--primary-color);
}

.home-controls input[type=submit] {
  border: 0;
  padding: 0.5rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  width: max(20%, 80px);
  margin: 5% 0 5% max(10%, 10px);
}

.home-controls input[type=submit]:hover {
  border-radius: 10px 20px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.home-controls div {
  padding: 0.6rem;
}

.home-controls select {
  appearance: none;
  width: 100%;
  padding: 0.25rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px var(--primary-color) #caced1;
  border-radius: 5px;
  cursor: pointer;
}

/*# sourceMappingURL=stylesheet.css.map */
