.home-content {
	display: grid;
	grid-template-columns: 20% 80%;
	padding: 10px;
	margin: 10px;
}
.home-main {
	display: block;
	padding: 10px;
	margin: 10px;
}
.home-controls {
	color: var(--secondary-color);
	display: block;
	padding: 10px;
	margin: 10px;
	align-content: center;
	border-radius: 10px;
	background-color: var(--primary-color);
	margin: auto;
	padding: 2%;
	height: max-content;
	width: 80%;
}
.home-controls .helptext {
	font-size: .8rem;
	padding: 0;
}
.home-controls form {
	align-items: center;
}
.home-controls input {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: 0px;
	border-radius: 5px;
	padding: 0.25rem;
	width: max-content;
}
.home-controls input:active {
	border: 2px;
	border-color: var(--primary-color);
}
.home-controls input[type="submit"] {
	border: 0;
	padding: 0.5rem;
	color: var(--primary-color);
	background-color: var(--secondary-color);
	width: max(20%, 80px);
	margin: 5% 0  5% max(10%, 10px);
}
.home-controls input[type="submit"]:hover {
	border-radius: 10px 20px;
	color: var(--secondary-color);
	background-color: var(--primary-color);
}
.home-controls div {
	padding: 0.6rem;
}
.home-controls select {
	appearance: none;
	width: 90%;
	padding: 0.25rem;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: 1px var(--primary-color) #caced1;
	border-radius: 5px;
	cursor: pointer;
}
/* .home-controls select::-ms-expand { */
/* 	display: none; */
/* } */
