table.StateTable {
  border: 1px solid var(--light-color);
  background-color: #C3ECEF;
  text-align: left;
  border-collapse: collapse;
  margin: 10px;
  display: inline-table;
}
table.StateTable td, table.StateTable th {
  padding: 6px 6px;
}
table.StateTable tbody td {
  font-size: 13px;
  color: #072352;
  border: 1px solid var(--light-color);
}
table.StateTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.StateTable thead {
  background: #072352;
}
table.StateTable thead th {
  font-size: 14px;
  font-weight: bold;
  color: #C3ECEF;
  text-align: center;
}
table.StateTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  border-top: 2px solid #444444;
}
table.StateTable tfoot td {
  font-size: 14px;
}
table.StateTable tfoot .links {
  text-align: right;
}
table.StateTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
table.StateTable .HeaderColumn {
  background: #072352;
  font-size: 14px;
  font-weight: bold;
  color: #C3ECEF;
  text-align: center;
}
