table.StateTable {
  border: 1px solid var(--light-color);
  background-color: #C3ECEF;
  text-align: left;
  border-collapse: collapse;
  margin: 10px;
  display: inline-table;
}
table.StateTable td, table.StateTable th {
  padding: 6px 6px;
}
table.StateTable tbody td {
  font-size: 13px;
  color: #072352;
  border: 1px solid var(--light-color);
}
table.StateTable tbody tr:nth-child(even) {
  background: var(--table-first-color);
}
table.StateTable tbody tr:nth-child(odd) {
  background: var(--table-second-color);
}
table.StateTable thead {
  background: #072352;
}
table.StateTable thead th {
  font-size: 14px;
  font-weight: bold;
  color: #C3ECEF;
  text-align: center;
}
table.StateTable tfoot {
  font-size: 14px;
  font-weight: bold;
  background: #D0E4F5;
  border-top: 2px solid #444444;
}
table.StateTable tfoot td {
  font-size: 14px;
}
table.StateTable tfoot .links {
  text-align: right;
}
table.StateTable tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  padding: 2px 8px;
  border-radius: 5px;
}
table.StateTable .HeaderColumn {
  background: #072352;
  font-size: 14px;
  font-weight: bold;
  color: #C3ECEF;
  text-align: center;
}

.item-list {
	padding: 1%;
	margin: min(5px, .25%);
	background-color: var(--secondary-color);
	border-radius: 10px;
}
.item-list table {
	padding: 1%;
	margin: 2%;
	border-collapse: collapse;
	border-bottom: 2px solid var(--primary-color);
}
.item-list thead {
	padding: 1%;
	margin: 2%;
}
.item-list thead tr th {
	font-size: .9rem;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	margin: .5rem;
	padding: .5rem;
}
.item-list table td + td {
	font-size: .8rem;
    border-left: 2px solid var(--muted-primary-color); 
}
.item-list .borderless {
    border: 0;
}
.item-list tbody tr td {
	padding: .1rem .5rem;
	border-bottom: 1px solid var(--primary-color);
}
.item-list tbody tr:nth-child(odd) {
	background-color: var(--table-first-color);
}
.item-list tbody tr:nth-child(even) {
	background-color: var(--table-second-color);
}
.item-list table button, .item-list table a {
	padding: 0;
	margin: 0;
	background-color: inherit;
	color: var(--primary-color);
	border: 0;
	padding: .1rem;
	border-radius: 5px;
	position: relative;
}
.item-list table button::after {
	content: attr(helptext);
	display: block;
	position: absolute;
	top: 22px; left: 0;
	opacity: 0;
	width: 150px;
	font-size: 13px;
	font-weight: 700;
	line-height: 1.5em;
	padding: 0.5em 0.8em;
	background: rgba(0,0,0,0.8);
	color: #fff;
	pointer-events: none; /* This prevents the box from apearing when hovered. */
	transition: opacity 500ms, top 500ms;
}
.item-list table button::before {
	content: '';
	display: block;
	position: absolute;
	top: 12px; left: 20px;
	opacity: 0;
	width: 0; height: 0;
	border: solid transparent 5px;
	border-bottom-color: rgba(0,0,0,0.8);
	transition: opacity 500ms, top 500ms;
}
.item-list table button:hover {z-index: 2;}
.item-list table button:hover::after,
.item-list table button:hover::before {opacity: 1;}
.item-list table button:hover::after {top: 30px;}
.item-list table button:hover::before {top: 20px;}
.item-list table button:hover, .item-list table a:hover {
	border: 0;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}
.item-list-footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
